<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <title>Stony Hill Primary School - Library</title>
</head>

<body class="font-body">
    <%- include('../partials/header') %>
        <main>
            <!-- Cover Section -->
            <section
                class="h-screen flex items-center bg-[url('/images/hero-background.jpg')] bg-cover bg-no-repeat bg-bottom"
                id="hero">
                <div class="container">
                    <h1 class="heading font-bold max-w-[20ch] leading-snug">
                        Welcome to SHPS' Online Library
                    </h1>

                    <p class="max-w-prose mb-6 leading-normal">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Ut repellat
                        nemo
                        labore dolorem magnam
                        doloribus harum corporis culpa adipisci voluptatum!</p>

                    <a href="#browse" class="btn">View Collection</a>
                </div>
            </section>

            <!-- Books -->
            <section class="min-h-screen py-20 bg-gray-100" id="browse">
                <div class="container">

                    <h1 class="heading mb-12">Browse All Books</h1>

                    <div class="grid grid-cols-3 gap-12">

                        <% if (books.length) { %>

                            <% books.forEach(book=> { %>

                                <div class="p-6 bg-white sm:pr-12 group">
                                    <strong
                                        class="inline-flex items-center border border-gray-200 rounded relative px-2.5 py-1.5 text-xs font-medium">
                                        <span class="text-gray-700"> Status: </span>


                                        <% if (book.available) { %>
                                            <span class="text-green-700 ml-1.5">
                                                Available
                                            </span>
                                            <% } else { %>
                                                <span class="text-red-700 ml-1.5">
                                                    Unavailable
                                                </span>
                                                <% } %>
                                    </strong>


                                    <h2 class="my-3 text-2xl font-bold">
                                        <%= book.title %>
                                    </h2>

                                    <h3 class="mt-3"><span class="text-gray-500">By:</span>
                                        <%= book.author %>
                                    </h3>

                                    <h3 class="mt-2 text-sm text-blue-600">
                                        <%= book.genre %>
                                    </h3>


                                    <p class="mt-3 text-sm text-gray-500">
                                        <%= book.description %>
                                    </p>

                                    <a href="/books/request/<%= book.id %>" class="btn mt-8 text-sm">Request To
                                        Borrow</a>
                                </div>
                                <% }) %>

                                    <% } else { %>
                                        <h2 class="font-semibold text-2xl">No books found.</h2>
                                        <% } %>

                    </div>
                </div>
            </section>
        </main>


        <%- include('../partials/footer') %>
</body>

</html>